<%= render 'shared/header' %>
<div class="main-container">
  <%= render 'shared/sidebar'%>
  <div class="main-posts" style="padding-left: 15px;"> 

    <div class="profile">
      <div class="name">

      </div>

      <%if current_user == @user %>
        <%= button_to 'Add Friend', user_friend_requests_path(@user.id), 
                    params: { friend_request: {sender_id: current_user.id ,
                                              receiver_id: @user.id}} %>      
        <% else %>
      <% end %>
    </div>

  </div>
</div>

<%= render 'shared/footer'%>