<%= render 'shared/header' %>
<div class="main-container">
  <%= render 'shared/sidebar'%>
  <div class="main-posts" style="padding-left: 15px;"> 

    <div class="profile">
      <div class="name">

      </div>

      <%if current_user == @user %>
      <div>Edit</div>
      <% end %>
    </div>

  </div>
</div>

<%= render 'shared/footer'%>