<div class="header-container">
  <div class="">
    <div class="">F</div>
    <div class="">Welcome</div>
  </div>
  <div class="">
    <div class="">Profile</div>
    <div class="">Logout</div>
  </div>
</div>