<div class="header header-container">
  <div class="header header-left">
    <div class="header header-logo">F</div>
    <div class="header header-welcome">Welcome</div>
  </div>
  <div class="header header-right">
    <div class="header header-profile">Profile</div>
    <div class="header header-logout">Logout</div>
  </div>
</div>