<%= render 'shared/header' %>
<div class="main-container">
  <%= render 'shared/sidebar'%>
  <div class="main-posts" style="padding-left: 15px;"> 
    <% @posts.each do |post|%>
      <%= render 'post', post: post %>    
    <% end %>
  </div>
</div>

<%= render 'shared/footer'%>